name: Go Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  BINARY_FILENAME: "ce-arc-server"
  PACKAGES_DIR: "./server"
  GO_VERSION: "1.25.4"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "${{ env.GO_VERSION }}"

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test ./...

      - name: Build binary
        run: go build -o "${{ env.BINARY_FILENAME }}" "${{ env.PACKAGES_DIR }}"
